[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping
	branch = hydro-devel
[submodule "src/turtlebot"]
	path = src/turtlebot
	url = https://github.com/turtlebot/turtlebot
[submodule "src/turtlebot_interactions"]
	path = src/turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions
[submodule "src/turtlebot_simulator"]
	path = src/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator
[submodule "src/my_robot"]
	path = src/my_robot
	url = https://github.com/daniel-m-campos/my_robot.git
[submodule "src/pick_objects"]
	path = src/pick_objects
	url = https://github.com/daniel-m-campos/pick_objects.git
[submodule "src/add_markers"]
	path = src/add_markers
	url = https://github.com/daniel-m-campos/add_markers.git
